  <table class="simple_t1">
         <colgroup>
            <col width="229">
            <col width="107">
            <col width="139">
            <col width="56">
            <col width="229">
            <col width="56">
         </colgroup>
         <tbody>
            <tr class="simple_r1">
               <td class="simple_c1">Min. capacity, Ah @ 1C, 25℃:</td>
               <td class="simple_c2" id="summary_simple_D6" style="color:blue">#D6#</td>
               <td class="simple_c3">电芯宽度,mm:</td>
               <td class="simple_c2" id="summary_simple_D9" style="color:blue">#D9#</td>
               <td class="simple_c2">DC Plateau, V @ 1C, 25℃:</td>
               <td class="simple_c4" id="summary_simple_D12" style="color:blue">#D12#</td>
            </tr>
            <tr class="simple_r1">
               <td class="simple_c5">群裕度:</td>
               <td class="simple_c6" id="summary_simple_D7" style="color:blue">#D7#</td>
               <td class="simple_c7">电芯肩度(主体高度,mm):</td>
               <td class="simple_c6" id="summary_simple_D10" style="color:blue">#D10#</td>
               <td class="simple_c6">Min Energy, Wh @ 1C, 25℃:</td>
               <td class="simple_c8" id="summary_simple_D13" style="color:blue">#D13#</td>
            </tr>
            <tr class="simple_r1">
               <td class="simple_c9">电芯厚度,mm:</td>
               <td class="simple_c10" id="summary_simple_D8" style="color:blue">#D8#</td>
               <td class="simple_c10">JR,ea:</td>
               <td class="simple_c10" id="summary_simple_D11" style="color:blue">#D11#</td>
               <td class="simple_c10">Cell Weight,kg:</td>
               <td class="simple_c11" id="summary_simple_D16" style="color:blue">#D16#</td>
            </tr>
         </tbody>
      </table>