<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">
.alpmap_t1 input{
   -webkit-margin-before: 0px;
   -webkit-padding-before: 0px;
   border:0px !important;
   width:57px;
   height:25px;
}
.alpmap_t1 select{
   -webkit-margin-before: 0px;
   -webkit-padding-before: 0px;
   border:0px !important;
   width: 57px;
   height:25px;
}
.alpmap_b1{white-space-collapsing:preserve;}
.alpmap_t1{border-collapse:collapse;border-spacing:0;}
.alpmap_r1{height:16.5px;}
.alpmap_r2{height:13.5px;}
.alpmap_r3{height:12.75px;}
.alpmap_c1{white-space:pre-wrap;background-color:white;font-weight:bold;color: #ff0000; font-size:11px;}
.alpmap_c2{white-space:pre-wrap;text-align:center;color: black; font-size:10px;}
.alpmap_c3{white-space:pre-wrap;color: black; font-size:10px;}
.alpmap_c4{white-space:pre-wrap;color: black; font-size:10px;}
.alpmap_c5{white-space:pre-wrap;text-align:center;color: black; font-size:10px;}
.alpmap_c6{white-space:pre-wrap;text-align:left;color: black; font-size:10px;}
.alpmap_c7{white-space:pre-wrap;color: black; font-size:11pt;}
.alpmap_c8{white-space:pre-wrap;text-align:center;background-color:#AAE4CA;border-top:thin solid black;border-right:thin solid black;border-bottom:thin solid black;border-left:thin solid black;color: black; font-size:11pt;}
.alpmap_c9{white-space:pre-wrap;text-align:center;background-color:white;border-top:thin solid black;border-right:thin solid black;border-bottom:thin solid black;border-left:thin solid black;color: black; font-size:11pt;}
</style></head>
   <body class="alpmap_b1">
      <table class="alpmap_t1">
         <tbody>
            <tr class="alpmap_r1"></tr>
            <tr class="alpmap_r1">
               <td colspan="8" rowspan="5"><img alt="" src="netmarkets/jsp/catl/ri/B/image/catl_logo.png"></td>
               <td class="alpmap_c1" colspan="3">CATL CONFIDENTIAL</td>
               <td class="alpmap_c2">&nbsp;</td>
               <td></td>
               <td></td>
               <td></td>
               <td class="alpmap_c3" colspan="10">&nbsp;</td>
            </tr>
            <tr class="alpmap_r1">
               <td class="alpmap_c4" colspan="2">Prepared by:</td>
               <td id="alpmap_L3" class="alpmap_c5"></td>
               <td class="alpmap_c3">&nbsp;</td>
               <td class="alpmap_c3">&nbsp;</td>
               <td class="alpmap_c3">&nbsp;</td>
               <td class="alpmap_c3">&nbsp;</td>
               <td class="alpmap_c3">&nbsp;</td>
               <td class="alpmap_c3">&nbsp;</td>
               <td class="alpmap_c3">&nbsp;</td>
               <td class="alpmap_c3">&nbsp;</td>
               <td class="alpmap_c3">&nbsp;</td>
               <td class="alpmap_c3">&nbsp;</td>
               <td class="alpmap_c3">&nbsp;</td>
               <td class="alpmap_c3">&nbsp;</td>
               <td class="alpmap_c3">&nbsp;</td>
               <td class="alpmap_c3">&nbsp;</td>
               <td class="alpmap_c3">&nbsp;</td>
            </tr>
            <tr class="alpmap_r1">
               <td class="alpmap_c4" colspan="2">Approved by:</td>
               <td id="alpmap_L4" class="alpmap_c5"></td>
               <td class="alpmap_c5">&nbsp;</td>
               <td class="alpmap_c5">&nbsp;</td>
            </tr>
            <tr class="alpmap_r1">
               <td class="alpmap_c4" colspan="2">Prepare date:</td>
               <td id="alpmap_L5" class="alpmap_c6" colspan="2"></td>
            </tr>
            <tr class="alpmap_r1">
               <td class="alpmap_c4" colspan="2">Updated date:</td>
               <td id="alpmap_L6" class="alpmap_c6" colspan="2"></td>
            </tr>
                  <tr class="alpmap_r1">
               <td class="alpmap_c7" colspan="12">最大倍率/C（持续充电）</td>
            </tr>
            <tr class="alpmap_r2">
               <td class="alpmap_c8">Temp./SOC</td>
               <td class="alpmap_c8">0%</td>
               <td class="alpmap_c8">5%</td>
               <td class="alpmap_c8">10%</td>
               <td class="alpmap_c8">20%</td>
               <td class="alpmap_c8">30%</td>
               <td class="alpmap_c8">40%</td>
               <td class="alpmap_c8">50%</td>
               <td class="alpmap_c8">60%</td>
               <td class="alpmap_c8">70%</td>
               <td class="alpmap_c8">80%</td>
               <td class="alpmap_c8">90%</td>
            </tr>
            <tr class="alpmap_r2">
               <td id="alpmap_B12" class="alpmap_c9"></td>
               <td id="alpmap_C12" class="alpmap_c9"></td>
               <td id="alpmap_D12" class="alpmap_c9"></td>
               <td id="alpmap_E12" class="alpmap_c9"></td>
               <td id="alpmap_F12" class="alpmap_c9"></td>
               <td id="alpmap_G12" class="alpmap_c9"></td>
               <td id="alpmap_H12" class="alpmap_c9"></td>
               <td id="alpmap_I12" class="alpmap_c9"></td>
               <td id="alpmap_J12" class="alpmap_c9"></td>
               <td id="alpmap_K12" class="alpmap_c9"></td>
               <td id="alpmap_L12" class="alpmap_c9"></td>
               <td id="alpmap_M12" class="alpmap_c9"></td>
            </tr>
            <tr class="alpmap_r2">
               <td id="alpmap_B13" class="alpmap_c9"></td>
               <td id="alpmap_C13" class="alpmap_c9"></td>
               <td id="alpmap_D13" class="alpmap_c9"></td>
               <td id="alpmap_E13" class="alpmap_c9"></td>
               <td id="alpmap_F13" class="alpmap_c9"></td>
               <td id="alpmap_G13" class="alpmap_c9"></td>
               <td id="alpmap_H13" class="alpmap_c9"></td>
               <td id="alpmap_I13" class="alpmap_c9"></td>
               <td id="alpmap_J13" class="alpmap_c9"></td>
               <td id="alpmap_K13" class="alpmap_c9"></td>
               <td id="alpmap_L13" class="alpmap_c9"></td>
               <td id="alpmap_M13" class="alpmap_c9"></td>
            </tr>
            <tr class="alpmap_r2">
               <td id="alpmap_B14" class="alpmap_c9"></td>
               <td id="alpmap_C14" class="alpmap_c9"></td>
               <td id="alpmap_D14" class="alpmap_c9"></td>
               <td id="alpmap_E14" class="alpmap_c9"></td>
               <td id="alpmap_F14" class="alpmap_c9"></td>
               <td id="alpmap_G14" class="alpmap_c9"></td>
               <td id="alpmap_H14" class="alpmap_c9"></td>
               <td id="alpmap_I14" class="alpmap_c9"></td>
               <td id="alpmap_J14" class="alpmap_c9"></td>
               <td id="alpmap_K14" class="alpmap_c9"></td>
               <td id="alpmap_L14" class="alpmap_c9"></td>
               <td id="alpmap_M14" class="alpmap_c9"></td>
            </tr>
            <tr class="alpmap_r2">
               <td id="alpmap_B15" class="alpmap_c9"></td>
               <td id="alpmap_C15" class="alpmap_c9"></td>
               <td id="alpmap_D15" class="alpmap_c9"></td>
               <td id="alpmap_E15" class="alpmap_c9"></td>
               <td id="alpmap_F15" class="alpmap_c9"></td>
               <td id="alpmap_G15" class="alpmap_c9"></td>
               <td id="alpmap_H15" class="alpmap_c9"></td>
               <td id="alpmap_I15" class="alpmap_c9"></td>
               <td id="alpmap_J15" class="alpmap_c9"></td>
               <td id="alpmap_K15" class="alpmap_c9"></td>
               <td id="alpmap_L15" class="alpmap_c9"></td>
               <td id="alpmap_M15" class="alpmap_c9"></td>
            </tr>
            <tr class="alpmap_r2">
               <td id="alpmap_B16" class="alpmap_c9"></td>
               <td id="alpmap_C16" class="alpmap_c9"></td>
               <td id="alpmap_D16" class="alpmap_c9"></td>
               <td id="alpmap_E16" class="alpmap_c9"></td>
               <td id="alpmap_F16" class="alpmap_c9"></td>
               <td id="alpmap_G16" class="alpmap_c9"></td>
               <td id="alpmap_H16" class="alpmap_c9"></td>
               <td id="alpmap_I16" class="alpmap_c9"></td>
               <td id="alpmap_J16" class="alpmap_c9"></td>
               <td id="alpmap_K16" class="alpmap_c9"></td>
               <td id="alpmap_L16" class="alpmap_c9"></td>
               <td id="alpmap_M16" class="alpmap_c9"></td>
            </tr>
            <tr class="alpmap_r2">
               <td class="alpmap_c7">&nbsp;</td>
               <td class="alpmap_c7">&nbsp;</td>
               <td class="alpmap_c7">&nbsp;</td>
               <td class="alpmap_c7">&nbsp;</td>
               <td class="alpmap_c7">&nbsp;</td>
               <td class="alpmap_c7">&nbsp;</td>
               <td class="alpmap_c7">&nbsp;</td>
               <td class="alpmap_c7">&nbsp;</td>
               <td class="alpmap_c7">&nbsp;</td>
               <td class="alpmap_c7">&nbsp;</td>
               <td class="alpmap_c7">&nbsp;</td>
               <td class="alpmap_c7">&nbsp;</td>
            </tr>
            <tr class="alpmap_r1">
                <td class="alpmap_c7" colspan="12">最大倍率/C（持续充电）</td>
            </tr>
            <tr class="alpmap_r2">
               <td class="alpmap_c8">Temp./SOC</td>
               <td class="alpmap_c8">0%</td>
               <td class="alpmap_c8">5%</td>
               <td class="alpmap_c8">10%</td>
               <td class="alpmap_c8">20%</td>
               <td class="alpmap_c8">30%</td>
               <td class="alpmap_c8">40%</td>
               <td class="alpmap_c8">50%</td>
               <td class="alpmap_c8">60%</td>
               <td class="alpmap_c8">70%</td>
               <td class="alpmap_c8">80%</td>
               <td class="alpmap_c8">90%</td>
            </tr>
            <tr class="alpmap_r2">
               <td id="alpmap_B20" class="alpmap_c9"></td>
               <td id="alpmap_C20" class="alpmap_c9"></td>
               <td id="alpmap_D20" class="alpmap_c9"></td>
               <td id="alpmap_E20" class="alpmap_c9"></td>
               <td id="alpmap_F20" class="alpmap_c9"></td>
               <td id="alpmap_G20" class="alpmap_c9"></td>
               <td id="alpmap_H20" class="alpmap_c9"></td>
               <td id="alpmap_I20" class="alpmap_c9"></td>
               <td id="alpmap_J20" class="alpmap_c9"></td>
               <td id="alpmap_K20" class="alpmap_c9"></td>
               <td id="alpmap_L20" class="alpmap_c9"></td>
               <td id="alpmap_M20" class="alpmap_c9"></td>
            </tr>
            <tr class="alpmap_r2">
               <td id="alpmap_B21" class="alpmap_c9"></td>
               <td id="alpmap_C21" class="alpmap_c9"></td>
               <td id="alpmap_D21" class="alpmap_c9"></td>
               <td id="alpmap_E21" class="alpmap_c9"></td>
               <td id="alpmap_F21" class="alpmap_c9"></td>
               <td id="alpmap_G21" class="alpmap_c9"></td>
               <td id="alpmap_H21" class="alpmap_c9"></td>
               <td id="alpmap_I21" class="alpmap_c9"></td>
               <td id="alpmap_J21" class="alpmap_c9"></td>
               <td id="alpmap_K21" class="alpmap_c9"></td>
               <td id="alpmap_L21" class="alpmap_c9"></td>
               <td id="alpmap_M21" class="alpmap_c9"></td>
            </tr>
            <tr class="alpmap_r2">
               <td id="alpmap_B22" class="alpmap_c9"></td>
               <td id="alpmap_C22" class="alpmap_c9"></td>
               <td id="alpmap_D22" class="alpmap_c9"></td>
               <td id="alpmap_E22" class="alpmap_c9"></td>
               <td id="alpmap_F22" class="alpmap_c9"></td>
               <td id="alpmap_G22" class="alpmap_c9"></td>
               <td id="alpmap_H22" class="alpmap_c9"></td>
               <td id="alpmap_I22" class="alpmap_c9"></td>
               <td id="alpmap_J22" class="alpmap_c9"></td>
               <td id="alpmap_K22" class="alpmap_c9"></td>
               <td id="alpmap_L22" class="alpmap_c9"></td>
               <td id="alpmap_M22" class="alpmap_c9"></td>
            </tr>
            <tr class="alpmap_r2">
               <td id="alpmap_B23" class="alpmap_c9"></td>
               <td id="alpmap_C23" class="alpmap_c9"></td>
               <td id="alpmap_D23" class="alpmap_c9"></td>
               <td id="alpmap_E23" class="alpmap_c9"></td>
               <td id="alpmap_F23" class="alpmap_c9"></td>
               <td id="alpmap_G23" class="alpmap_c9"></td>
               <td id="alpmap_H23" class="alpmap_c9"></td>
               <td id="alpmap_I23" class="alpmap_c9"></td>
               <td id="alpmap_J23" class="alpmap_c9"></td>
               <td id="alpmap_K23" class="alpmap_c9"></td>
               <td id="alpmap_L23" class="alpmap_c9"></td>
               <td id="alpmap_M23" class="alpmap_c9"></td>
            </tr>
            <tr class="alpmap_r2">
               <td id="alpmap_B24" class="alpmap_c9"></td>
               <td id="alpmap_C24" class="alpmap_c9"></td>
               <td id="alpmap_D24" class="alpmap_c9"></td>
               <td id="alpmap_E24" class="alpmap_c9"></td>
               <td id="alpmap_F24" class="alpmap_c9"></td>
               <td id="alpmap_G24" class="alpmap_c9"></td>
               <td id="alpmap_H24" class="alpmap_c9"></td>
               <td id="alpmap_I24" class="alpmap_c9"></td>
               <td id="alpmap_J24" class="alpmap_c9"></td>
               <td id="alpmap_K24" class="alpmap_c9"></td>
               <td id="alpmap_L24" class="alpmap_c9"></td>
               <td id="alpmap_M24" class="alpmap_c9"></td>
            </tr>
         </tbody>
      </table>
   </body>
</html>
