<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">
	.averagevoltage_t1 input{
	   -webkit-margin-before: 0px;
	   -webkit-padding-before: 0px;
	   border:0px !important;
	   width:80px;
	   height:25px;
	}
	.averagevoltage_t1 select{
	   -webkit-margin-before: 0px;
	   -webkit-padding-before: 0px;
	   border:0px !important;
	   width: 100%;
	   height:25px;
	}
	.hidetd{
	    border:0px !important;
	    background-color:#FFF !important;
	}
	.averagevoltage_b1{white-space-collapsing:preserve;}
	.averagevoltage_t1{border-collapse:collapse;border-spacing:0;}
	.averagevoltage_r1{height:13.5pt;}
	.averagevoltage_r2{height:25.5pt;}
	.averagevoltage_c1{white-space:pre-wrap;text-align:center;color: black; font-size:10pt;}
	.averagevoltage_c2{white-space:pre-wrap;text-align:center;background-color:#EFEFFF;border-top:thin solid black;border-right:thin solid black;border-bottom:thin solid black;border-left:thin solid black;color: black; font-size:10pt;}
	.averagevoltage_c3{white-space:pre-wrap;text-align:center;background-color:#EFEFFF;border-top:thin solid black;border-right:thin solid black;border-bottom:thin solid black;border-left:thin solid black;color: black; font-size:10pt;}
	.averagevoltage_c4{white-space:pre-wrap;text-align:center;color: black; font-size:10pt;border:0px}
	.averagevoltage_c5{white-space:pre-wrap;text-align:center;border-top:thin solid black;border-right:thin solid black;border-bottom:thin solid black;border-left:thin solid black;color: black; font-size:10pt;}
	.averagevoltage_c6{white-space:pre-wrap;text-align:center;background-color:white;border-top:thin solid black;border-right:thin solid black;border-bottom:thin solid black;border-left:thin solid black;color: black; font-size:10pt;}
	.averagevoltage_c7{white-space:pre-wrap;text-align:center;border-top:thin solid black;border-right:thin solid black;border-bottom:thin solid black;border-left:thin solid black;color: black; font-size:10pt;}
	.averagevoltage_c8{white-space:pre-wrap;color: #0000ff; font-size:11pt;}
</style></head>
   <body class="averagevoltage_b1">
      <table class="averagevoltage_t1">
         <tbody>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B3" class="averagevoltage_c1"></td>
               <td></td>
               <td id="averagevoltage_D3" class="averagevoltage_c1"></td>
            </tr>
            <tr class="averagevoltage_r2">
               <td class="averagevoltage_c2">Si含量</td>
               <td class="averagevoltage_c2">Anode Material
               </td>
               <td class="averagevoltage_c2">C.W.</td>
               <td class="averagevoltage_c2">Loading</td>
               <td class="averagevoltage_c2">SP</td>
               <td class="averagevoltage_c2">Binder</td>
               <td class="averagevoltage_c2">Binder Loading</td>
               <td class="averagevoltage_c2">放电CB</td>
               <td class="averagevoltage_c2">LPD方式</td>
               <td class="averagevoltage_c2">1/3C</td>
               <td class="averagevoltage_c3">1C</td>
               <td class="averagevoltage_c4" colspan="7" rowspan="32"><img alt="" src="netmarkets/jsp/catl/ri/B/image/averagevoltage_1.png"></td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B5" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C5" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D5" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E5" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F5" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G5" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H5" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I5" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J5" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K5" class="averagevoltage_c5"></td>
               <td id="averagevoltage_L5" class="averagevoltage_c7"></td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B6" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C6" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D6" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E6" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F6" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G6" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H6" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I6" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J6" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K6" class="averagevoltage_c5"></td>
               <td id="averagevoltage_L6" class="averagevoltage_c7"></td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B7" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C7" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D7" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E7" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F7" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G7" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H7" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I7" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J7" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K7" class="averagevoltage_c5"></td>
               <td id="averagevoltage_L7" class="averagevoltage_c7"></td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B8" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C8" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D8" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E8" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F8" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G8" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H8" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I8" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J8" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K8" class="averagevoltage_c5"></td>
               <td id="averagevoltage_L8" class="averagevoltage_c7"></td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B9" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C9" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D9" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E9" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F9" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G9" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H9" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I9" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J9" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K9" class="averagevoltage_c5"></td>
               <td id="averagevoltage_L9" class="averagevoltage_c7"></td>
            </tr>
            <tr class="averagevoltage_r1">
               <td class="averagevoltage_c1">&nbsp;</td>
               <td class="averagevoltage_c1">&nbsp;</td>
               <td class="averagevoltage_c1">&nbsp;</td>
               <td class="averagevoltage_c1">&nbsp;</td>
               <td class="averagevoltage_c1">&nbsp;</td>
               <td class="averagevoltage_c1">&nbsp;</td>
               <td class="averagevoltage_c1">&nbsp;</td>
               <td class="averagevoltage_c1">&nbsp;</td>
               <td class="averagevoltage_c1">&nbsp;</td>
               <td class="hidetd">&nbsp;</td>
               <td class="hidetd">&nbsp;</td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B11" class="averagevoltage_c1"></td>
               <td></td>
               <td id="averagevoltage_D11" class="averagevoltage_c1"></td>
            </tr>
            <tr class="averagevoltage_r2">
               <td class="averagevoltage_c2">Si含量</td>
               <td class="averagevoltage_c2">Material</td>
               <td class="averagevoltage_c2">C.W.</td>
               <td class="averagevoltage_c2">Loading</td>
               <td class="averagevoltage_c2">SP</td>
               <td class="averagevoltage_c2">Binder</td>
               <td class="averagevoltage_c2">Binder Loading</td>
               <td class="averagevoltage_c2">放电CB</td>
               <td class="averagevoltage_c2">LPD方式</td>
               <td class="averagevoltage_c2">1/3C</td>
               <td class="averagevoltage_c3">1C</td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B13" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C13" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D13" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E13" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F13" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G13" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H13" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I13" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J13" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K13" class="averagevoltage_c5"></td>
               <td id="averagevoltage_L13" class="averagevoltage_c7"></td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B14" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C14" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D14" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E14" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F14" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G14" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H14" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I14" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J14" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K14" class="averagevoltage_c5"></td>
               <td id="averagevoltage_L14" class="averagevoltage_c7"></td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B15" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C15" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D15" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E15" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F15" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G15" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H15" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I15" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J15" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K15" class="averagevoltage_c5"></td>
               <td id="averagevoltage_L15" class="averagevoltage_c7"></td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B16" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C16" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D16" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E16" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F16" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G16" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H16" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I16" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J16" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K16" class="averagevoltage_c5"></td>
               <td id="averagevoltage_L16" class="averagevoltage_c7"></td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B17" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C17" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D17" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E17" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F17" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G17" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H17" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I17" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J17" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K17" class="averagevoltage_c5"></td>
               <td id="averagevoltage_L17" class="averagevoltage_c7"></td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B18" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C18" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D18" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E18" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F18" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G18" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H18" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I18" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J18" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K18" class="averagevoltage_c5"></td>
               <td id="averagevoltage_L18" class="averagevoltage_c7"></td>
            </tr>
            <tr class="averagevoltage_r1"></tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B20" class="averagevoltage_c1"></td>
               <td></td>
               <td id="averagevoltage_D20" class="averagevoltage_c1"></td>
            </tr>
            <tr class="averagevoltage_r2">
               <td class="averagevoltage_c2">Si含量</td>
               <td class="averagevoltage_c2">Material</td>
               <td class="averagevoltage_c2">C.W.</td>
               <td class="averagevoltage_c2">Loading</td>
               <td class="averagevoltage_c2">SP</td>
               <td class="averagevoltage_c2">Binder</td>
               <td class="averagevoltage_c2">Binder Loading</td>
               <td class="averagevoltage_c2">放电CB</td>
               <td class="averagevoltage_c2">LPD方式</td>
               <td class="averagevoltage_c2">1/3C</td>
               <td class="averagevoltage_c3">1C</td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B22" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C22" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D22" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E22" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F22" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G22" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H22" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I22" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J22" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K22" class="averagevoltage_c5"></td>
               <td id="averagevoltage_L22" class="averagevoltage_c7"></td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B23" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C23" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D23" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E23" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F23" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G23" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H23" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I23" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J23" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K23" class="averagevoltage_c5"></td>
               <td id="averagevoltage_L23" class="averagevoltage_c7"></td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B24" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C24" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D24" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E24" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F24" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G24" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H24" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I24" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J24" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K24" class="averagevoltage_c5"></td>
               <td id="averagevoltage_L24" class="averagevoltage_c7"></td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B25" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C25" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D25" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E25" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F25" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G25" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H25" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I25" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J25" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K25" class="averagevoltage_c5"></td>
               <td id="averagevoltage_L25" class="averagevoltage_c7"></td>
            </tr>
            <tr class="averagevoltage_r1"></tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B27" class="averagevoltage_c1"></td>
               <td></td>
               <td id="averagevoltage_D27" class="averagevoltage_c1"></td>
            </tr>
            <tr class="averagevoltage_r2">
               <td class="averagevoltage_c2">Si含量</td>
               <td class="averagevoltage_c2">Material</td>
               <td class="averagevoltage_c2">C.W.</td>
               <td class="averagevoltage_c2">Loading</td>
               <td class="averagevoltage_c2">SP</td>
               <td class="averagevoltage_c2">Binder</td>
               <td class="averagevoltage_c2">Binder Loading</td>
               <td class="averagevoltage_c2">放电CB</td>
               <td class="averagevoltage_c2">LPD方式</td>
               <td class="averagevoltage_c2">1/3C</td>
               <td class="averagevoltage_c3">1C</td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B29" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C29" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D29" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E29" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F29" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G29" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H29" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I29" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J29" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K29" class="averagevoltage_c5"></td>
               <td id="averagevoltage_L29" class="averagevoltage_c7"></td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B30" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C30" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D30" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E30" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F30" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G30" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H30" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I30" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J30" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K30" class="averagevoltage_c5 symbol" ext:qtip="Song JinYang:<br/>待复测"></td>
               <td id="averagevoltage_L30" class="averagevoltage_c7 symbol" ext:qtip="Song JinYang:<br/>待复测"></td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B31" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C31" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D31" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E31" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F31" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G31" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H31" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I31" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J31" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K31" class="averagevoltage_c5"></td>
               <td id="averagevoltage_L31" class="averagevoltage_c7"></td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B32" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C32" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D32" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E32" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F32" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G32" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H32" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I32" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J32" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K32" class="averagevoltage_c5"></td>
               <td id="averagevoltage_L32" class="averagevoltage_c7"></td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B33" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C33" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D33" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E33" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F33" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G33" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H33" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I33" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J33" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K33" class="averagevoltage_c5"></td>
               <td id="averagevoltage_L33" class="averagevoltage_c7"></td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B34" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C34" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D34" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E34" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F34" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G34" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H34" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I34" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J34" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K34" class="averagevoltage_c5"></td>
               <td id="averagevoltage_L34" class="averagevoltage_c7"></td>
            </tr>
            <tr class="averagevoltage_r1">
               <td id="averagevoltage_B35" class="averagevoltage_c5"></td>
               <td id="averagevoltage_C35" class="averagevoltage_c5"></td>
               <td id="averagevoltage_D35" class="averagevoltage_c6"></td>
               <td id="averagevoltage_E35" class="averagevoltage_c6"></td>
               <td id="averagevoltage_F35" class="averagevoltage_c6"></td>
               <td id="averagevoltage_G35" class="averagevoltage_c6"></td>
               <td id="averagevoltage_H35" class="averagevoltage_c6"></td>
               <td id="averagevoltage_I35" class="averagevoltage_c6"></td>
               <td id="averagevoltage_J35" class="averagevoltage_c6"></td>
               <td id="averagevoltage_K35" class="averagevoltage_c5"></td>
               <td id="averagevoltage_L35" class="averagevoltage_c7"></td>
            </tr>
            <tr class="averagevoltage_r1">
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td class="averagevoltage_c8">&nbsp;</td>
            </tr>
         </tbody>
      </table>
   </body>
</html>
