 <html>
<head>
<meta http-equiv="inputparams_content-Type"
	content="text/html; charset=UTF-8">
<style type="text/css">
.s1{
text-align:left
}
.s2{
text-align:left;
font-weight:bold
}
.s1span{
margin-left:310px;
}
.s1span input{
border:0px !important;
}
.paddingd{
padding-bottom:5px;
}
.inputparams_b1 {
	white-space-collapsing: preserve;
}

.inputparams_t1 {
	border-collapse: collapse;
	border-spacing: 0;
}

.hidetd{
    border:0px !important;
    background-color:#FFF !important;
}

.inputparams_r1 {
	height: 15.75pt;
}

.inputparams_r2 {
	height: 31.5pt;
	background-color:silver;
}

.inputparams_r3 {
	height: 21.0pt;
	background-color:silver;
}

.inputparams_r7 {
	height: 21.0pt;
	background-color:#DCDCDC;
}

.inputparams_r4 {
	height: 22.5pt;
	background-color:silver;
}

.inputparams_r5 {
	height: 33.75pt;
	background-color:silver;
}

.inputparams_r6 {
	height: 21.75pt;
	background-color:silver;
}
.inputparams_t1 input{
   -webkit-margin-before: 0px;
   -webkit-padding-before: 0px;
   border:0px !important;
   width:100%;
   height:25px;
}
.inputparams_t1 td{
   width:100px !important;
   border:1px solid black;
   text-align:center;
   height:25px;
}

.inputparams_t1 select{
   -webkit-margin-before: 0px;
   -webkit-padding-before: 0px;
   border:0px !important;
   width:100%;
   height:25px;
}

.title_td{
	border:0px !important;
    text-align:left !important;
	font-family:\5B8B\4F53;
	font-weight:bold;
	font-size:12pt;
}
</style>
</head>
<body class="inputparams_b1">
		<table class="inputparams_t1">
		<tr>
			<td class='title_td' colspan="12">Output ----- 电芯级别（容量ok？群裕度ok？残空间ok？）</td>
		</tr>

		<tr class="inputparams_r2">
			<td>Mean 1C_CAP</td>
			<td class="symbol" ext:qtip="Li ZhongHong:<br/>根据3σ计算">Min 1C_CAP</td>
			<td>Mean 1/3C_CAP</td>
			<td class="symbol" ext:qtip="Li ZhongHong:<br/>根据3σ计算">Min 1/3C_CAP</td>
			<td>群裕度_厚度方向</td>
			<td>群裕度_宽度方向</td>
			<td>能量密度(Wh/Kg)</td>
			<td>能量密度(Wh/L)</td>
			<td class="symbol" ext:qtip="Li ZhongHong:<br/>含内圈隔膜">Tab到卷芯最内圈边缘的距离La</td>
			<td>极耳边距Lb</td>
			<td>放电CB</td>
			<td class="symbol" ext:qtip="Li ZhongHong:<br/>注：当前关于方形热压的工艺尚不成熟，相关参数仅供参考">宽度方向(含方形热压)群裕度是否ok</td>
		</tr>
		<tr class="inputparams_r1">
			<td id="inputparams_B7"></td>
			<td id="inputparams_C7"></td>
			<td id="inputparams_D7"></td>
			<td id="inputparams_E7"></td>
			<td id="inputparams_F7"></td>
			<td id="inputparams_G7"></td>
			<td id="inputparams_H7"></td>
			<td id="inputparams_I7"></td>
			<td id="inputparams_J7"></td>
			<td id="inputparams_K7"></td>
			<td id="inputparams_L7"></td>
			<td id="inputparams_M7"></td>
		</tr>
	</table>
	<br>


	<table class="inputparams_t1">
		<tr>
			<td class='title_td' colspan="12">Input ------- 机械件级别</td>
		</tr>

		<tr class="inputparams_r3">
			<td>Model</td>
			<td>电芯厚度</td>
			<td>电芯宽度</td>
			<td class="symbol" ext:qtip="Li ZhongHong:<br/>电芯主体高度">电芯肩高</td>
			<td>壳体大面壁厚</td>
			<td>壳体侧面壁厚</td>
			<td>壳体底厚</td>
			<td>顶盖板厚</td>
			<td>支架(下塑胶)高</td>
			<td>底托盘厚</td>
			<td>Mylar厚</td>
			<td>顶封宽度理论计算值</td>
		</tr>
		<tr class="inputparams_r1">
			<td id="inputparams_B11" class="symbol" ext:qtip="机械件组合填写完整显示新模型"></td>
			<td id="inputparams_C11"></td>
			<td id="inputparams_D11"></td>
			<td id="inputparams_E11"></td>
			<td id="inputparams_F11"></td>
			<td id="inputparams_G11"></td>
			<td id="inputparams_H11"></td>
			<td id="inputparams_I11"></td>
			<td id="inputparams_J11"></td>
			<td id="inputparams_K11"></td>
			<td id="inputparams_L11"></td>
			<td id="inputparams_M11"></td>
		</tr>
	</table>
	<br>


	<table class="inputparams_t1 inputParams_Grade">
		<tr>
			<td class='title_td' colspan="12">Input ------- 电芯级别</td>
		</tr>

		<tr class="inputparams_r4">
		       <td><div style="width:60px">Voltage</div></td>
               <td><div style="width:80px">充电 Cell balance</div></td>
               <td class="symbol" ext:qtip="Li ZhongHong:<br/>含单面区的总层数"><div style="width:80px">Cathode Layers</div></td>
               <td class="symbol" ext:qtip="Li ZhongHong:<br/>阴阳极极耳根部的距离"><div style="width:80px">Tab distance</div></td>
               <td><div style="width:60px">Anode overhang </div></td>
               <td><div style="width:80px">Separator overhang</div></td>
               <td><div style="width:80px">隔膜下压</div></td>
               <td class="symbol" ext:qtip="Li ZhongHong:<br/>参考理论计算值制定"><div style="width:80px">顶封宽度</div></td>
               <td><div style="width:80px">阳极距离卷绕底部距离</div></td>
               <td><div style="width:80px">长度方向阴阳极overhang</div></td>
               <td><div style="width:60px">Jelly roll</div></td>
               <td><div style="width:80px">1C_1/3C克容量差</div></td>
               <td><div style="width:60px">容量σ</div></td>
               <td><div style="width:80px">是否方形热压</div></td>
               <td><div style="width:80px">极耳设计</div></td>
		</tr>
		<tr class="inputparams_r1">
			<td id="inputparams_B15"></td>
			<td id="inputparams_C15"></td>
			<td id="inputparams_D15"></td>
			<td id="inputparams_E15"></td>
			<td id="inputparams_F15"></td>
			<td id="inputparams_G15"></td>
			<td id="inputparams_H15"></td>
			<td id="inputparams_I15"></td>
			<td id="inputparams_J15"></td>
			<td id="inputparams_K15"></td>
			<td id="inputparams_L15"></td>
			<td id="inputparams_M15"></td>
			<td id="inputparams_N15"></td>
			<td id="inputparams_O15"></td>
			<td id="inputparams_P15"></td>
		</tr>
	</table>
	<br>

	<table class="inputparams_t1">
		<tr>
			<td class='title_td' colspan="12">Input ------- 极片级别</td>
		</tr>

		<tr class="inputparams_r5">
			   <td>Item</td>
               <td><div style="width:80px">Active Material</div></td>
               <td><div style="width:60px">基材厚度</div></td>
               <td class="symbol" ext:qtip="Li ZhongHong:<br/>阴极脱锂，阳极嵌锂"><div style="width:80px">扣电1st 去程 Cap.(mAh/g)</div></td>
               <td class="symbol" ext:qtip="Li ZhongHong:<br/>阴极嵌锂，阳极脱锂"><div style="width:80px">扣电1st 回程 Cap.(mAh/g)</div></td>
               <td><div style="width:80px">Full cell 1/3C Disc cap.(mAh/g)</div></td>
               <td><div style="width:80px">Loading</div></td>
               <td><div style="width:80px">Weight (g/1540mm2)</div></td>
               <td><div style="width:60px">Density (g/cm3)</div></td>
               <td><div style="width:80px">卷绕反弹 (vs冷压)</div></td>
               <td><div style="width:80px">化成反弹 (vs冷压)</div></td>
               <td><div style="width:80px">满充反弹 (vs冷压)</div></td>
               <td><div style="width:80px">EOL反弹 (vs冷压)</div></td>
               <td><div style="width:80px">长度延展 (冷压vs涂布)</div></td>
               <td><div style="width:80px">极片参数是否经过SE确认</div></td>
               <td><div style="width:80px">连续/间歇涂布</div></td>
		</tr>
		<tr class="inputparams_r1">
			<td>Anode</td>
			<td id="inputparams_C19" class="symbol" ext:qtip="Li ZhongHong:<br/>在“材料数据库”中添加新材料信息后，本框中自动出现选项"></td>
			<td id="inputparams_D19" class="symbol" ext:qtip="Li ZhongHong:<br/>在“材料数据库”中添加新材料信息后，本框中自动出现选项"></td>
			<td id="inputparams_E19"></td>
			<td id="inputparams_F19"></td>
			<td id="inputparams_G19"></td>
			<td id="inputparams_H19"></td>
			<td id="inputparams_I19"></td>
			<td id="inputparams_J19"></td>
			<td id="inputparams_K19"></td>
			<td id="inputparams_L19"></td>
			<td id="inputparams_M19"></td>
			<td id="inputparams_N19"></td>
			<td id="inputparams_O19"></td>
			<td id="inputparams_P19"></td>
			<td id="inputparams_Q19"></td>
			<td class="hidetd"><div style="width:250px" class="s1">间歇涂布默认第1、2两层为单面区</div></td>
		</tr>
		<tr class="inputparams_r1">
			<td>Cathode</td>
			<td id="inputparams_C20"></td>
			<td id="inputparams_D20"></td>
			<td id="inputparams_E20"></td>
			<td id="inputparams_F20"></td>
			<td id="inputparams_G20"></td>
			<td id="inputparams_H20"></td>
			<td id="inputparams_I20"></td>
			<td id="inputparams_J20"></td>
			<td id="inputparams_K20"></td>
			<td id="inputparams_L20"></td>
			<td id="inputparams_M20"></td>
			<td id="inputparams_N20"></td>
			<td id="inputparams_O20"></td>
			<td id="inputparams_P20"></td>
			<td id="inputparams_Q20"></td>
			<td class="hidetd"><div style="width:250px" class="s1">间歇涂布默认倒数第1、2两层为单面区</div></td>
		</tr>
		<tr class="inputparams_r1">
			<td rowspan="2">Al foil</td>
			<td id="inputparams_C21"></td>
			<td id="inputparams_D21"></td>
		</tr>
		<tr class="inputparams_r1">
			<td id="inputparams_C22"></td>
			<td id="inputparams_D22"></td>
			<td class="hidetd"></td>
		</tr>

		<tr class="inputparams_r4">
			<td rowspan="5" style="background-color:#FFF">Separater</td>
			<td id="inputparams_C23"  style="background-color:#FFF"></td>
			<td id="inputparams_D23" class="symbol" ext:qtip="Li ZhongHong:<br/>热压后隔膜总厚度" style="background-color:#FFF"></td>
			<td class="hidetd"></td>
			<td>阴极</td>
			<td>涂布公差(g/1540mm2)</td>
			<td>冷压公差(mm)</td>
			<td>单面C.W.(g/1540mm2)</td>
			<td>Density (g/cm3)</td>
			<td class="hidetd"></td>
			<td>阳极</td>
			<td>涂布公差(g/1540mm2)</td>
			<td>冷压公差(mm)</td>
			<td>单面C.W.(g/1540mm2)</td>
			<td>Density (g/cm3)</td>
		</tr>
		<tr class="inputparams_r1">
			<td id="inputparams_C24" class="symbol" ext:qtip="Li ZhongHong:<br/>在“材料数据库”中添加新材料信息后，本框中自动出现选项"></td>
			<td id="inputparams_D24"></td>
			<td class="hidetd"></td>
			<td>上限</td>
			<td id="inputparams_G24"></td>
			<td id="inputparams_H24"></td>
			<td id="inputparams_I24"></td>
			<td id="inputparams_J24"></td>
			<td class="hidetd"></td>
			<td>下限</td>
			<td id="inputparams_M24"></td>
			<td id="inputparams_N24"></td>
			<td id="inputparams_O24"></td>
			<td id="inputparams_P24"></td>
		</tr>
		<tr class="inputparams_r1">
			<td id="inputparams_C25"></td>
			<td id="inputparams_D25"></td>
			<td class="hidetd"></td>
			<td>下限</td>
			<td id="inputparams_G25"></td>
			<td id="inputparams_H25"></td>
			<td id="inputparams_I25"></td>
			<td id="inputparams_J25"></td>
			<td class="hidetd"></td>
			<td>上限</td>
			<td id="inputparams_M25"></td>
			<td id="inputparams_N25"></td>
			<td id="inputparams_O25"></td>
			<td id="inputparams_P25"></td>
		</tr>
		<tr class="inputparams_r1">
			<td id="inputparams_C26"></td>
			<td id="inputparams_D26"></td>
			<td class="hidetd" colspan="3"><div class="s1">参考值:0.8um(1.5mg),1.4um(2.5mg)</div></td>
			<td class="hidetd"></td>
			<td class="hidetd"></td>
			<td class="hidetd"></td>
			<td class="hidetd"></td>
			<td class="hidetd"></td>
			<td class="hidetd"></td>
			<td class="hidetd"></td>
			<td class="hidetd"></td>
			<td class="hidetd"></td>
		</tr>
		<tr class="inputparams_r1">
			<td id="inputparams_C27"></td>
			<td id="inputparams_D27"></td>
			<td class="hidetd" colspan="3"><div class="s1">参考值:5um(1.5mg),8um(2.5mg)</div></td>
			<td style="background-color:silver">极限CB</td>
			<td style="background-color:silver">首次充电CB</td>
			<td style="background-color:silver">放电CB</td>
			<td class="hidetd"></td>
			<td colspan="2" rowspan="2" style="background-color:silver">阴极脱锂后的不可逆容量(mAh/1540.25mm2)</td>
			<td colspan="2" rowspan="2" style="background-color:silver">阳极嵌锂后消耗的容量(mAh/1540.25mm2)</td>
			<td rowspan="2"  colspan="2" style="background-color:silver">SOC偏移(阴阳极不可逆容量不均衡，造成实际SOC偏移)</td>
		</tr>
		<tr class="inputparams_r1">
			<td rowspan="2">Pattern</td>
			<td id="inputparams_C28"></td>
			<td id="inputparams_D28"></td>
			<td class="hidetd" colspan="3"><div class="s1">参考值:0um(假设Gap全部压掉)</div></td>
			<td style="background-color:silver">最小值</td>
			<td id="inputparams_I28"></td>
			<td id="inputparams_J28"></td>
		</tr>
		<tr class="inputparams_r1">
			<td id="inputparams_C29"></td>
			<td id="inputparams_D29"></td>
			<td class="hidetd" colspan="3"><div class="s1">参考值:20um</div></td>
			<td style="background-color:silver">最大值</td>
			<td id="inputparams_I29"></td>
			<td id="inputparams_J29"></td>
			<td class="hidetd"></td>
			<td id="inputparams_L29" colspan="2"></td>
			<td id="inputparams_N29" colspan="2"></td>
			<td id="inputparams_P29" colspan="2"></td>
		</tr>
	</table>
	<br>
 <div class="s1 paddingd"> 注意：PCS厚度加在隔离摸厚度里，Pattern厚度加在阴极里；是否热压对PCS和Pattern的厚度影响明显，故需区别对待常规热压和方形热压<span class="s1span"><input type="text" id="input_inputparams_L30" readonly="readonly"/></span></div>
	<table class="inputparams_t1 inputParams_Grade">
		<tr>
			<td class="title_td" colspan="2">Input ------- 卷针</td>
			<td class="hidetd"></td>
			<td class="title_td" colspan="3">Input ------- 极耳</td>
			<td class="hidetd"></td>
			<td class="title_td" colspan="8">Input ------- 电解液</td>
		</tr>

		<tr class="inputparams_r6">
			<td>卷针</td>
			<td>参数</td>
			<td class="hidetd"></td>
			<td>上宽</td>
			<td>下宽</td>
			<td class="symbol" ext:qtip="Li ZhongHong:<br/>超出隔膜高度">极耳高度</td>
			<td class="hidetd"></td>
			<td>EL.</td>
			<td>EL INJ Coe.</td>
			<td>Weight(g)</td>
			<td>腔体体积 @注液前(ml)</td>
			<td>残空间@25℃(ml)</td>
			<td>EL总体积/JR总孔隙体积@装配</td>
			<td>保液系数(g/Ah)</td>
			<td class="symbol" ext:qtip="Li ZhongHong:<br/>正负极、隔离膜所吸收的电解液">最低保液系数(g/Ah)</td>
			<td class="symbol" ext:qtip="Li ZhongHong:<br/>整个壳体内腔所能容纳的最大电解液量">最高保液系数(g/Ah)</td>
		</tr>
		<tr class="inputparams_r1">
			<td>周长</td>
			<td id="inputparams_C34"></td>
			<td class="hidetd"></td>
			<td id="inputparams_E34"></td>
			<td id="inputparams_F34"></td>
			<td id="inputparams_G34"></td>
			<td class="hidetd"></td>
			<td id="inputparams_I34" class="symbol" ext:qtip="Li ZhongHong:<br/>在“材料数据库”中添加新材料信息后，本框中自动出现选项"></td>
			<td id="inputparams_J34"></td>
			<td id="inputparams_K34"></td>
			<td id="inputparams_L34"></td>
			<td id="inputparams_M34"></td>
			<td id="inputparams_N34"></td>
			<td id="inputparams_O34"></td>
			<td id="inputparams_P34"></td>
			<td id="inputparams_Q34"></td>
		</tr>
		<tr class="inputparams_r1">
			<td>首圈周长</td>
			<td class="symbol" ext:qtip="Li ZhongHong:<br/>空卷隔膜一圈半" id="inputparams_C35"></td>
			<td class="hidetd"></td>
		</tr>
	</table>
	<br>


	<table class="inputparams_t1">
		<tr>
			<td class="title_td" colspan="11">中间计算过程-----极片参数</td>
		</tr>

		<tr class="inputparams_r4">
			<td>Electrode</td>
			<td>箔材厚度@热压前</td>
			<td>Width</td>
			<td>连续面膜长@卷绕</td>
			<td>间歇面膜长@卷绕</td>
			<td>单面区长度@卷绕</td>
			<td>Single layer thickness</td>
			<td>Calender thickness</td>
			<td>Winding swelling&LPD</td>
			<td>Formation swelling</td>
			<td>Full charge swelling</td>
			<td>EOL Swelling</td>
		</tr>
		<tr class="inputparams_r1">
			<td>Anode</td>
			<td id="inputparams_C39"></td>
			<td id="inputparams_D39"></td>
			<td id="inputparams_E39"></td>
			<td id="inputparams_F39"></td>
			<td id="inputparams_G39"></td>
			<td id="inputparams_H39"></td>
			<td id="inputparams_I39"></td>
			<td id="inputparams_J39"></td>
			<td id="inputparams_K39"></td>
			<td id="inputparams_L39"></td>
			<td id="inputparams_M39"></td>
		</tr>
		<tr class="inputparams_r1">
			<td>Cathode</td>
			<td id="inputparams_C40"></td>
			<td id="inputparams_D40"></td>
			<td id="inputparams_E40"></td>
			<td id="inputparams_F40"></td>
			<td id="inputparams_G40"></td>
			<td id="inputparams_H40"></td>
			<td id="inputparams_I40"></td>
			<td id="inputparams_J40"></td>
			<td id="inputparams_K40"></td>
			<td id="inputparams_L40"></td>
			<td id="inputparams_M40"></td>
		</tr>
		<tr class="inputparams_r1">
			<td>Separater</td>
			<td id="inputparams_C41"></td>
			<td id="inputparams_D41"></td>
			<td id="inputparams_E41"></td>
		</tr>
	</table>
	<br>


	<table class="inputparams_t1">
		<tr>
			<td class='title_td' colspan="7">中间计算过程 ----- JR厚度尺寸</td>
		</tr>

		<tr class="inputparams_r3">
			<td colspan="2">JR 参数_厚度</td>
			<td>热压后</td>
			<td>化成后</td>
			<td>满充后</td>
			<td>EOL</td>
			<td>壳体内腔厚</td>
			
		</tr>
		<tr class="inputparams_r1">
			<td rowspan="2">设计值</td>
			<td id="inputparams_C45"></td>
			<td id="inputparams_D45"></td>
			<td id="inputparams_E45"></td>
			<td id="inputparams_F45"></td>
			<td id="inputparams_G45"></td>
			<td id="inputparams_H45"></td>
		</tr>
		<tr class="inputparams_r1">
			<td id="inputparams_C46"></td>
			<td id="inputparams_D46"></td>
			<td id="inputparams_E46"></td>
			<td id="inputparams_F46"></td>
			<td id="inputparams_G46"></td>
		</tr>
	</table>
	<br>

    <div class="s2 paddingd">注：阴极涂布方式(连续/间歇)会影响空卷隔膜层数</div>
	<table class="inputparams_t1">
		<tr>
			<td class='title_td' colspan="6">中间计算过程 ----- JR宽度尺寸(常规热压)</td>
			<td class="hidetd"></td>
			<td class='title_td' colspan="5">中间计算过程 ----- JR宽度尺寸(方形热压)</td>
		</tr>

		<tr class="inputparams_r2">
			<td colspan="2">JR 参数_宽度</td>
			<td>常规热压后</td>
			<td class="symbol" ext:qtip="Li ZhongHong:<br/>默认宽度方向的膨胀与厚度方向相同">常规热压容许的最大值</td>
			<td>壳体内腔宽</td>
			<td>JR单侧包Mylar层数</td>
			<td class="hidetd"></td>
			<td colspan="2">JR 参数_宽度</td>
			<td>Gap from PCS & Pattern</td>
			<td>JR两侧需要为极片膨胀预留空间</td>
			<td>方形热压后</td>
		</tr>
		<tr class="inputparams_r1">
			<td rowspan="2">设计值</td>
			<td id="inputparams_C52"></td>
			<td id="inputparams_D52"></td>
			<td id="inputparams_E52"></td>
			<td id="inputparams_F52"></td>
			<td id="inputparams_G52"></td>
			<td class="hidetd"></td>
			<td rowspan="2">设计值</td>
			<td>宽度</td>
			<td id="inputparams_K52"></td>
			<td id="inputparams_L52"></td>
			<td id="inputparams_M52"></td>
		</tr>
		<tr class="inputparams_r1">
			<td id="inputparams_C53"></td>
			<td id="inputparams_D53"></td>
			<td id="inputparams_E53"></td>
			<td class="hidetd"></td>
			<td class="hidetd"></td>
			<td class="hidetd"></td>
			<td>群裕度</td>
			<td id="inputparams_K53" colspan="2"></td>
			<td id="inputparams_M53"></td>
		</tr>
	</table>
	<table><tr>
	<td><img src="netmarkets/jsp/catl/ri/A/image/info_1.png" border=0></td>
	<td><img style="padding-left:220px" src="netmarkets/jsp/catl/ri/A/image/info_2.png" border=0></td>
	</tr></table>
	 
	 <table class="inputparams_t1">
         <tbody>
            <tr>
			 <td colspan="6" style="border:0px;text-align:left">LPD计算方法1：按阴极首效计算，非满补，适用于放电CB＜1.1。。</td>
			   <td class="hidetd"></td>
               <td colspan="4"  style="border:0px;text-align:left"></td>
            </tr>
            <tr class="inputparams_r3">
               <td colspan="2">LiPD design</td>
               <td>SBR Binder</td>
               <td class="symbol" ext:qtip="ATL:<br/>Only used for LiPD calculation with PAA Binder;<br/>For PAA binder without LiPD design, it should be further modified">PI binder</td>
               <td colspan="2">Remark</td>
               <td class="hidetd"></td>
               <td colspan="2">Key Material information</td>
               <td colspan="2">Remark</td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">SLMP capacity</td>
               <td id="inputparams_D65"></td>
               <td id="inputparams_E65"></td>
               <td id="inputparams_F65" colspan="2"></td>
               <td class="hidetd"></td>
               <td>SiOx content</td>
               <td id="inputparams_J65"></td>
               <td id="inputparams_K65" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">SLMP utility</td>
               <td id="inputparams_D66"></td>
               <td id="inputparams_E66"></td>
               <td id="inputparams_F66" colspan="2"></td>
               <td class="hidetd"></td>
               <td>Graphite  CC</td>
               <td id="inputparams_J66"></td>
               <td id="inputparams_K66" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">1st CE-Before</td>
               <td id="inputparams_D67"></td>
               <td id="inputparams_E67"></td>
               <td id="inputparams_F67" colspan="2" class="symbol" ext:qtip="ATL:<br/>1st CE reduction by PAA compared with SBR"></td>
               <td class="hidetd"></td>
               <td>Graphite  DC</td>
               <td id="inputparams_J67"></td>
               <td id="inputparams_K67" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">1st CE-After</td>
               <td id="inputparams_D68"></td>
               <td id="inputparams_E68"></td>
               <td id="inputparams_F68" colspan="2"></td>
               <td class="hidetd"></td>
               <td>Alloy CC</td>
               <td id="inputparams_J68"></td>
               <td id="inputparams_K68" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">1st CE-Max-After</td>
               <td id="inputparams_D69"></td>
               <td id="inputparams_E69"></td>
               <td id="inputparams_F69" colspan="2"></td>
               <td class="hidetd"></td>
               <td>Alloy DC</td>
               <td id="inputparams_J69"></td>
               <td id="inputparams_K69" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">Over LiPD</td>
               <td id="inputparams_D70"></td>
               <td id="inputparams_E70"></td>
               <td id="inputparams_F70" colspan="2"></td>
               <td class="hidetd"></td>
               <td>Loading</td>
               <td id="inputparams_J70"></td>
               <td id="inputparams_K70" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">Actual CB:</td>
               <td id="inputparams_D71"></td>
               <td id="inputparams_E71"></td>
               <td id="inputparams_F71" colspan="2"></td>
               <td id="inputparams_H71" style="border:0px;text-align:left"></td>
               <td>Anode PD-1</td>
               <td id="inputparams_J71"></td>
               <td id="inputparams_K71" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">Li pre-doping</td>
               <td id="inputparams_D72"></td>
               <td id="inputparams_E72"></td>
               <td id="inputparams_F72" colspan="2"></td>
               <td id="inputparams_H72" style="border:0px;text-align:left"></td>
               <td>Anode PD-2</td>
               <td id="inputparams_J72"></td>
               <td id="inputparams_K72" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">LSL:Li doping</td>
               <td id="inputparams_D73"></td>
               <td id="inputparams_E73"></td>
               <td id="inputparams_F73" colspan="2"></td>
               <td class="hidetd"></td>
               <td>Voltage</td>
               <td id="inputparams_J73"></td>
               <td id="inputparams_K73" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">USL:Li doping</td>
               <td id="inputparams_D74"></td>
               <td id="inputparams_E74"></td>
               <td id="inputparams_F74" colspan="2"></td>
               <td class="hidetd"></td>
               <td>Cathode cap</td>
               <td id="inputparams_J74" class="symbol" ext:qtip="ATL:<br/>re-set when charging voltage changes<br/>4.35V: 180<br/>4.40V: 188"></td>
               <td id="inputparams_K74" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">Li pre-doping COV:</td>
               <td id="inputparams_D75"></td>
               <td id="inputparams_E75"></td>
               <td id="inputparams_F75" colspan="2"></td>
               <td class="hidetd"></td>
               <td>Loading</td>
               <td id="inputparams_J75"></td>
               <td id="inputparams_K75" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" rowspan="2" class="inputparams_r7">Li pre-doping</td>
               <td id="inputparams_D76"></td>
               <td id="inputparams_E76"></td>
               <td id="inputparams_F76" colspan="2"></td>
               <td class="hidetd"></td>
               <td>Cathode PD</td>
               <td id="inputparams_J76"></td>
               <td id="inputparams_K76" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td id="inputparams_D77"></td>
               <td id="inputparams_E77"></td>
               <td id="inputparams_F77" colspan="2"></td>
               <td class="hidetd"></td>
               <td>Cathode PD</td>
               <td id="inputparams_J77"></td>
               <td id="inputparams_K77" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="6" style="border:0px;text-align:left">LPD计算方法2：按充电CB=1.06计算，满补，适用于放电CB≥1.1。</td>
			   <td class="hidetd"></td>
               <td colspan="4" style="border:0px;text-align:left">寿命预测参数和结果汇总</td>
            </tr>
            <tr class="inputparams_r7">
               <td colspan="2">LiPD design</td>
               <td>SBR Binder</td>
               <td class="symbol" ext:qtip="ATL:<br/>Only used for LiPD calculation with PAA Binder;<br/>For PAA binder without LiPD design, it should be further modified">PI binder</td>
               <td colspan="2">Remark</td>
               <td class="hidetd"></td>
               <td colspan="2" style="background-color:#FFF">base</td>
               <td colspan="2" style="background-color:#FFF">设计项</td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">SLMP capacity</td>
               <td id="inputparams_D82"></td>
               <td id="inputparams_E82"></td>
               <td id="inputparams_F82" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="inputparams_r7">阴极CW</td>
               <td id="inputparams_J82"></td>
               <td class="inputparams_r7">阴极CW</td>
               <td id="inputparams_L82"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr> 
               <td colspan="2" class="inputparams_r7">SLMP utility</td>
               <td id="inputparams_D83"></td>
               <td id="inputparams_E83"></td>
               <td id="inputparams_F83" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="inputparams_r7">阳极CW</td>
               <td id="inputparams_J83"></td>
               <td class="inputparams_r7">阳极CW</td>
               <td id="inputparams_L83"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">1st CE-Before</td>
               <td id="inputparams_D84"></td>
               <td id="inputparams_E84"></td>
               <td id="inputparams_F84" class="symbol" ext:qtip="ATL:<br/>1st CE reduction by PAA compared with SBR" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="inputparams_r7">阴极层数</td>
               <td id="inputparams_J84"></td>
               <td class="inputparams_r7">阴极层数</td>
               <td id="inputparams_L84"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">1st CE-After</td>
               <td id="inputparams_D85"></td>
               <td id="inputparams_E85"></td>
               <td id="inputparams_F85" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="inputparams_r7">厚度群裕度</td>
               <td id="inputparams_J85"></td>
               <td class="inputparams_r7">厚度群裕度</td>
               <td id="inputparams_L85"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">1st CE-Max-After</td>
               <td id="inputparams_D86"></td>
               <td id="inputparams_E86"></td>
               <td id="inputparams_F86" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="inputparams_r7">放电CB</td>
               <td id="inputparams_J86"></td>
               <td class="inputparams_r7">放电CB</td>
               <td id="inputparams_L86"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">Over LiPD</td>
               <td id="inputparams_D87"></td>
               <td id="inputparams_E87"></td>
               <td id="inputparams_F87" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="inputparams_r7">充电CB</td>
               <td id="inputparams_J87"></td>
               <td class="inputparams_r7">充电CB</td>
               <td id="inputparams_L87"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">Actual CB:</td>
               <td id="inputparams_D88"></td>
               <td id="inputparams_E88"></td>
               <td id="inputparams_F88" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="inputparams_r7">硅含量</td>
               <td id="inputparams_J88"></td>
               <td class="inputparams_r7">硅含量</td>
               <td id="inputparams_L88"></td>
               <td class="inputparams_r3">实际锂效率</td>
               <td id="inputparams_N88"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">Li pre-doping</td>
               <td id="inputparams_D89"></td>
               <td id="inputparams_E89"></td>
               <td id="inputparams_F89" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="inputparams_r7">补锂量</td>
               <td id="inputparams_J89"></td>
               <td class="inputparams_r7">补锂量</td>
               <td id="inputparams_L89"></td>
               <td class="inputparams_r3">实际补锂量</td>
               <td id="inputparams_N89" class="symbol" ext:qtip="Li MaoHua:<br/>默认等于满补补锂量，否则输入实际补锂量"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">LSL:Li doping</td>
               <td id="inputparams_D90"></td>
               <td id="inputparams_E90"></td>
               <td id="inputparams_F90" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="inputparams_r7">循环下限电压</td>
               <td id="inputparams_J90"></td>
               <td class="inputparams_r7">循环下限电压</td>
               <td id="inputparams_L90" class="symbol" ext:qtip="Li MaoHua:<br/>2.5-2.9V，其它范围无数据"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">USL:Li doping</td>
               <td id="inputparams_D91"></td>
               <td id="inputparams_E91"></td>
               <td id="inputparams_F91" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="inputparams_r7">容量0.33min</td>
               <td id="inputparams_J91"></td>
               <td class="inputparams_r7 symbol" ext:qtip="Li MaoHua:<br/>限制下限电压后的容量">容量0.33min</td>
               <td id="inputparams_L91"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">Li pre-doping COV:</td>
               <td id="inputparams_D92"></td>
               <td id="inputparams_E92"></td>
               <td id="inputparams_F92" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="inputparams_r7">能量密度</td>
               <td id="inputparams_J92"></td>
               <td  class="inputparams_r7 symbol" ext:qtip="Li MaoHua:<br/>限制下限电压后的能量密度">能量密度</td>
               <td id="inputparams_L92"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" rowspan="2" class="inputparams_r7">Li pre-doping</td>
               <td id="inputparams_D93"></td>
               <td id="inputparams_E93"></td>
               <td id="inputparams_F93" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="inputparams_r7">寿命cls</td>
               <td id="inputparams_J93"></td>
               <td class="inputparams_r7">寿命cls</td>
               <td id="inputparams_L93"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td id="inputparams_D94"></td>
               <td id="inputparams_E94"></td>
               <td id="inputparams_F94" colspan="2"></td>
               <td class="hidetd"></td>
               <td class="inputparams_r7">放电能量</td>
               <td id="inputparams_J94"></td>
               <td class="inputparams_r7 symbol" ext:qtip="Li MaoHua:<br/>以base组为100%">放电能量</td>
               <td id="inputparams_L94"></td>
               <td class="hidetd"></td>
               <td class="hidetd"></td>
            </tr>
            <tr>
               <td colspan="2" class="inputparams_r7">阴极克容量判断</td>
               <td id="inputparams_D95"></td>
               <td id="inputparams_E95"></td>
               <td id="inputparams_F95" colspan="2"></td>
               <td class="hidetd"></td>
               <td colspan="4" class="hidetd">使用说明：保证厚度群裕度与base组一致，其它输入项只有base组循环寿命和循环下限电压</td>
            </tr>
         </tbody>
      </table>
</body>
</html>