<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">
.output_t1 input{
   -webkit-margin-before: 0px;
   -webkit-padding-before: 0px;
   border:0px !important;
   height:25px;
}
.output_t1 select{
   -webkit-margin-before: 0px;
   -webkit-padding-before: 0px;
   border:0px !important;
   width: 100%;
   height:25px;
}
.hiderow{
display:none;
}
.output_b1{white-space-collapsing:preserve;}
.output_t1{border-collapse:collapse;border-spacing:0;}
.output_r1{height:16.5pt;}
.output_c1{white-space:pre-wrap;font-size:12pt;}
.output_c2{white-space:pre-wrap;font-size:11pt;}
.output_c3{white-space:pre-wrap;text-align:left;background-color:silver;border-right:thin solid black;border-top:thin solid black;border-bottom:thin dotted gray;border-left:thin solid black;font-size:10px;}
.output_c4{white-space:pre-wrap;text-align:center;background-color:white;border-top:thin solid black;border-right:thin solid black;border-bottom:thin dotted gray;font-size:10px;}
.output_c5{white-space:pre-wrap;text-align:left;background-color:silver;border-top:thin solid black;border-bottom:thin solid black;border-left:thin solid black;font-size:10px;}
.output_c6{white-space:pre-wrap;text-align:center;border-top:thin solid black;border-right:thin solid black;border-bottom:thin solid black;border-left:thin solid black;font-size:10px;}
.output_c7{white-space:pre-wrap;border-right: thin solid black;text-align:left;background-color:silver;border-top:thin dotted gray;border-bottom:thin dotted gray;border-left:thin solid black;font-size:10px;}
.output_c8{white-space:pre-wrap;text-align:center;background-color:silver;border-top:thin solid black;border-bottom:1px solid black;border-right:thin solid black;border-left:thin solid black;font-size:10px;}
.output_c9{white-space:pre-wrap;text-align:left;background-color:silver;border-top:thin solid black;border-right:thin solid black;border-bottom:thin solid black;border-left:thin solid black;font-size:10px;}
.output_c10{white-space:pre-wrap;text-align:left;background-color:silver;border-top:thin dotted gray;border-right:thin solid black;border-bottom:thin dotted gray;border-left:thin dotted gray;font-size:10px;}
.output_c11{white-space:pre-wrap;background-color:silver;border-top:thin solid black;border-right:thin solid black;border-bottom:thin solid black;border-left:thin solid black;font-size:10px;}
.output_c12{white-space:pre-wrap;text-align:center;background-color:silver;border-top:thin dotted gray;border-right:thin dotted gray;border-left:thin solid black;font-size:10px;}
.output_c13{white-space:pre-wrap;background-color:silver;border-top:thin dotted gray;border-right:thin solid black;border-bottom:thin dotted gray;border-left:thin dotted gray;font-size:10px;}
.output_c14{white-space:pre-wrap;text-align:left;background-color:silver;border-top:thin solid black;border-right:thin solid black;border-bottom:thin solid black;font-size:10px;}
.output_c15{white-space:pre-wrap;font-size:10px;}
.output_c16{white-space:pre-wrap;text-align:left;background-color:silver;border-top:thin solid black;border-right:thin solid black;border-left:thin solid black;font-size:10px;}
.output_c17{white-space:pre-wrap;text-align:center;background-color:silver;border-top:thin solid black;border-right:thin solid black;border-bottom:thin solid black;border-left:thin solid black;font-size:10px;}
.output_c18{white-space:pre-wrap;text-align:center;font-size:12pt;}
.output_c19{white-space:pre-wrap;text-align:center;font-size:11pt;}
.output_c20{white-space:pre-wrap;background-color:silver;border-top:thin dotted gray;border-right:thin solid black;border-bottom:thin solid black;border-left:thin dotted gray;font-size:10px;}
</style></head>
   <body class="output_b1">
      <table class="output_t1">
         <colgroup>
            <col width="56">
            <col width="98">
            <col width="130">
            <col width="125">
            <col width="56">
            <col width="119">
            <col width="115">
            <col width="124">
         </colgroup>
         <tbody>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c2">详细输出</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c2">主要设计输出</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c3" colspan="2">group</td>
               <td id="output_D2" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c5" colspan="2">Design Name</td>
               <td id="output_H2" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c7" colspan="2">Cutoff Voltage/V</td>
               <td id="output_D3" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c5" colspan="2">Model</td>
               <td id="output_H3" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c7" colspan="2">Min. Cap. 1/3C/Ah</td>
               <td id="output_D4" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c5" colspan="2">Voltage Range</td>
               <td id="output_H4" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c7 symbol" ext:qtip="Lu JunWen:<br/>分如下两种：<br/>28148-A，普通顶盖；<br/>28148-B，极限顶盖；" colspan="2">Can Size</td>
               <td id="output_D5" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c5" colspan="2">Min. Cap. 1/3C/Ah</td>
               <td id="output_H5" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c7 symbol" ext:qtip="Lu JunWen:<br/>确定Package是否使用如下新工艺：<br/>方形、阴极单面、方形热压；<br/>没有填 w/o;"colspan="2">Process</td>
               <td id="output_D6" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c5" colspan="2">Min. Energy 1/3C/Wh</td>
               <td id="output_H6" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c7 symbol" ext:qtip="Lu JunWen:<br/>3+4.5<br/>3+5" colspan="2">Overhang</td>
               <td id="output_D7" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c5" colspan="2">CB/DC</td>
               <td id="output_H7" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c7" colspan="2">群裕度/%</td>
               <td id="output_D8" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c5" colspan="2">JR 个数</td>
               <td id="output_H8" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c7" colspan="2">活性物质入壳群裕度/ %</td>
               <td id="output_D9" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c5" colspan="2">Layers/Cathode</td>
               <td id="output_H9" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c7" colspan="2">活性物质满充群裕度/ %</td>
               <td id="output_D10" class="output_c4 symbol" ext:qtip="Sun Xin:<br/>活性物质满充群裕度小于100%"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c8" rowspan="5">Cathode</td>
               <td class="output_c9">Ca. Mater.</td>
               <td id="output_H10" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c7" colspan="2">CB/CC</td>
               <td id="output_D11" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c10"><div style="width:130px">Spec. capacity/(mAh/g)</div></td>
               <td id="output_H11" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c7" colspan="2">CB/DC</td>
               <td id="output_D12" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c9">Mater. Loading</td>
               <td id="output_H12" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c7" colspan="2">JR 个数</td>
               <td id="output_D13" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c11">CW</td>
               <td id="output_H13" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c7" colspan="2">Layers/Cathode</td>
               <td id="output_D14" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c11">PD</td>
               <td id="output_H14" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c7" colspan="2">卷针周长/mm</td>
               <td id="output_D15" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c8" rowspan="5">Anode</td>
               <td class="output_c11 symbol" ext:qtip="Lu JunWen:<br/>AC114/SiO(75:25);<br/>">An. Mater.</td>
               <td id="output_H15" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c7" colspan="2">Mylar THK/mm</td>
               <td id="output_D16" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c11">Mater. Loading</td>
               <td id="output_H16" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c12" rowspan="21">Cathode</td>
               <td class="output_c10">Ca. Mater.</td>
               <td id="output_D17" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c11">Cu foil/μm</td>
               <td id="output_H17" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c10">Spec capacity/(mAh/g)</td>
               <td id="output_D18" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c11">CW/(g/1540.25mm^2)</td>
               <td id="output_H18" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c10">Loading</td>
               <td id="output_D19" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c11">PD/(g/cc)</td>
               <td id="output_H19" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c10">-</td>
               <td id="output_D20" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c5" colspan="2">Sep.</td>
               <td id="output_H20" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c10">PVDF</td>
               <td id="output_D21" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c5" colspan="2">E.L. type</td>
               <td id="output_H21" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c10">Super P</td>
               <td id="output_D22" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c5" colspan="2">E.L. Injection Coefficient</td>
               <td id="output_H22" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">CNT</td>
               <td id="output_D23" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c5" colspan="2">补锂量①库伦效率90%</td>
               <td id="output_H23" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">E028</td>
               <td id="output_D24" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c5" colspan="2">补锂量②满补</td>
               <td id="output_H24" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">-</td>
               <td id="output_D25" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c5">入壳群裕度</td>
               <td class="output_c14">&nbsp;</td>
               <td id="output_H25" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">width/mm</td>
               <td id="output_D26" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c5">满充群裕度</td>
               <td class="output_c14">&nbsp;</td>
               <td id="output_H26" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">CW/(g/1540.25mm^2)</td>
               <td id="output_D27" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c5">活性物质入壳群裕度</td>
               <td class="output_c14">&nbsp;</td>
               <td id="output_H27" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">AT9(w/t or w/o)</td>
               <td id="output_D28" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c5">活性物质满充群裕度</td>
               <td class="output_c14">&nbsp;</td>
               <td id="output_H28" class="output_c6 symbol" ext:qtip="Sun Xin:<br/>为保证EOL膨胀力<20KN，该项需＜100%"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">AT9 width</td>
               <td id="output_D29" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c8" rowspan="2">能量密度</td>
               <td class="output_c11">体积能量密度/Wh/L</td>
               <td id="output_H29" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">Cathode/mm</td>
               <td id="output_D30" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c11">质量能量密度/Wh/kg</td>
               <td id="output_H30" class="output_c6"></td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13 symbol" ext:qtip="Lu JunWen:<br/>Al or AP">基材类型</td>
               <td id="output_D31" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c15">&nbsp;</td>
               <td class="output_c15">&nbsp;</td>
               <td class="output_c15">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">基材厚度/μm</td>
               <td id="output_D32" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13 symbol" ext:qtip="Lu JunWen:<br/>基材是否底涂处理<br/>w/t or w/o<br/>">底涂</td>
               <td id="output_D33" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">CW</td>
               <td id="output_D34" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c2">主要性能输出</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">PD(g/CC)</td>
               <td id="output_D35" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c16" rowspan="3">Swelling force</td>
               <td class="output_c17">EOL 无Gap</td>
               <td class="output_c6">#VALUE!</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c10">层数</td>
               <td id="output_D36" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c17">EOL 1mmGap</td>
               <td class="output_c6">#VALUE!</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">THK-冷压后</td>
               <td id="output_D37" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c17">EOL 2mmGap</td>
               <td class="output_c6">#VALUE!</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c12" rowspan="18">Anode</td>
               <td class="output_c13 symbol" ext:qtip="Lu JunWen:<br/>AC114/SiO(75:25);<br/>">An. Mater.</td>
               <td id="output_D38" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c11"><div style="width:160px">DCR 90%SOC 2C@25℃</div></td>
               <td class="output_c17">10s</td>
               <td class="output_c6">#N/A</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">Mater. Loading</td>
               <td id="output_D39" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c11">DCR 50%SOC 2C@25℃</td>
               <td class="output_c17">10s</td>
               <td class="output_c6">#N/A</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">BP-7 loading</td>
               <td id="output_D40" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c11">DCR 30%SOC 2C@25℃</td>
               <td class="output_c17">10s</td>
               <td class="output_c6">#N/A</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">BP-7A loading</td>
               <td id="output_D41" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c11">DCR 20%SOC 0.36C@-25℃</td>
               <td class="output_c17">10s</td>
               <td class="output_c6">#N/A</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">(XXX binder) loading</td>
               <td id="output_D42" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c11">ALP Window</td>
               <td class="output_c17">25℃,80%SOC</td>
               <td class="output_c6">#N/A</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">SP loading</td>
               <td id="output_D43" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c11 symbol" ext:qtip="Li MaoHua:<br/>以base组循环寿命有关">Cycle Life</td>
               <td class="output_c17">25℃ 1C/1C</td>
               <td class="output_c6">#N/A</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">CNT loading</td>
               <td id="output_D44" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c9 symbol" ext:qtip="Li MaoHua:<br/>以base组循环寿命有关">Cycle Life</td>
               <td class="output_c17">25℃ 1C/1C</td>
               <td class="output_c6">#N/A</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">width(TTL)</td>
               <td id="output_D45" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c9">累积放电能量</td>
               <td class="output_c17">25℃ 1C/1C</td>
               <td class="output_c6">#N/A</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13 symbol" ext:qtip="Lu JunWen:<br/>Al or AP">基材类型</td>
               <td id="output_D46" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c11">Gassing Pressure/Mpa</td>
               <td class="output_c11">&nbsp;</td>
               <td class="output_c6">TBD</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">基材厚度/μm</td>
               <td id="output_D47" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13 symbol" ext:qtip="Lu JunWen:<br/>基材是否底涂处理<br/>w/t or w/o<br/>">底涂</td>
               <td id="output_D48" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">Anode Length/mm</td>
               <td id="output_D49" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">CW(g/1540.25mm^2)</td>
               <td id="output_D50" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">width/mm</td>
               <td id="output_D51" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">PD/(g/CC)</td>
               <td id="output_D52" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">层数</td>
               <td id="output_D53" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">THK-冷压后/μm</td>
               <td id="output_D54" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c10">THK-LPD后/μm</td>
               <td id="output_D55" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c12" rowspan="5">Separator</td>
               <td class="output_c13 symbol" ext:qtip="Lu JunWen:<br/>PZ9<br/>TN9<br/>...">基材</td>
               <td id="output_D56" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">厚度/μm</td>
               <td id="output_D57" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">处理后隔离膜厚度/μm</td>
               <td id="output_D58" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">CCS厚度/μm</td>
               <td id="output_D59" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">PCS质量/mg</td>
               <td id="output_D60" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c12" rowspan="3">EL</td>
               <td class="output_c13">EL type</td>
               <td id="output_D61" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">EL weight/g</td>
               <td id="output_D62" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">EL Coefficient</td>
               <td id="output_D63" class="output_c4"></td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c12" rowspan="4">Lot. Inf.</td>
               <td class="output_c13">Ca. Mater. Lot.</td>
               <td id="output_D64" class="output_c4"></td>
               <td class="output_c18">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">Gr. Mater. Lot.</td>
               <td id="output_D65" class="output_c4"></td>
               <td class="output_c18">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c19">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">Si. Mater. Lot</td>
               <td id="output_D66" class="output_c4"></td>
               <td class="output_c18">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
               <td class="output_c1">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">EL Lot</td>
               <td id="output_D67" class="output_c4"></td>
               <td class="output_c18">&nbsp;</td>
               <td class="output_c18">&nbsp;</td>
               <td class="output_c18">&nbsp;</td>
               <td class="output_c18">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c12" rowspan="3">不同阶段群裕度</td>
               <td class="output_c13">群裕度，化成后</td>
               <td id="output_D68" class="output_c4"></td>
               <td class="output_c18">&nbsp;</td>
               <td class="output_c18">&nbsp;</td>
               <td class="output_c18">&nbsp;</td>
               <td class="output_c18">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">群裕度，满充后</td>
               <td id="output_D69" class="output_c4 symbol" ext:qtip="Lu JunWen:<br/>＞100%需与老板讨论"></td>
               <td class="output_c18">&nbsp;</td>
               <td class="output_c18">&nbsp;</td>
               <td class="output_c18">&nbsp;</td>
               <td class="output_c18">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c13">群裕度，EOL</td>
               <td id="output_D70" class="output_c4"></td>
               <td class="output_c18">&nbsp;</td>
               <td class="output_c18">&nbsp;</td>
               <td class="output_c18">&nbsp;</td>
               <td class="output_c18">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c12" rowspan="2" style="border-bottom:1px solid black">残空间</td>
               <td class="output_c13">注液后残空间/mL</td>
               <td id="output_D71" class="output_c4"></td>
               <td class="output_c18">&nbsp;</td>
               <td class="output_c18">&nbsp;</td>
               <td class="output_c18">&nbsp;</td>
               <td class="output_c18">&nbsp;</td>
            </tr>
            <tr class="output_r1">
               <td class="output_c1">&nbsp;</td>
               <td class="output_c20">满充后残空间/mL</td>
               <td id="output_D72" style="border-bottom:1px solid black" class="output_c4 symbol" ext:qtip="Lu JunWen:<br/>72Ah，＜5ml需要与老板确认；<br/>其他容量类推"></td>
               <td class="output_c18">&nbsp;</td>
               <td class="output_c18">&nbsp;</td>
               <td class="output_c18">&nbsp;</td>
               <td class="output_c18">&nbsp;</td>
            </tr>
         </tbody>
      </table>
   </body>
</html>
