<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">
.mechanicalasm_b1{white-space-collapsing:preserve;}
.mechanicalasm_t1{border-collapse:collapse;border-spacing:0;border:1px solid black}
.mechanicalasm_r1{height:15.75pt;}
.mechanicalasm_r2{height:14.25pt;}
.mechanicalasm_r3{height:15.0pt;}
.mechanicalasm_c1{white-space:pre-wrap;text-align:center;background-color:silver;border-top:thin solid black;border-bottom:thin solid black;border-left:thin solid black;color: black; font-size:11pt;}
.mechanicalasm_c2{white-space:pre-wrap;text-align:center;background-color:silver;border-top:thin solid black;border-bottom:thin solid black;border-left:thin solid black;color: black; font-size:10pt;}
.mechanicalasm_c3{white-space:pre-wrap;text-align:left;background-color:white;border-top:thin solid black;border-bottom:thin solid black;border-left:thin solid black;color: black; font-size:10pt;}
.mechanicalasm_c4{white-space:pre-wrap;text-align:center;border-top:thin solid black;border-bottom:thin solid black;border-left:thin solid black;color: black; font-size:8pt;}
.mechanicalasm_c5{white-space:pre-wrap;text-align:left;background-color:white;border-top:thin solid black;border-left:thin solid black;color: black; font-size:10pt;}
.mechanicalasm_c6{white-space:pre-wrap;text-align:center;background-color:white;border-top:thin solid black;border-bottom:thin solid black;border-left:thin solid black;color: black; font-size:10pt;}
.mechanicalasm_c7{white-space:pre-wrap;text-align:left;background-color:white;border-left:thin solid black;color: black; font-size:10pt;}
.mechanicalasm_c8{white-space:pre-wrap;text-align:center;border-bottom:thin solid black;border-left:thin solid black;color: black; font-size:8pt;}
.mechanicalasm_c9{white-space:pre-wrap;text-align:left;background-color:white;border-top:thin solid black;color: black; font-size:10pt;}
.mechanicalasm_c10{white-space:pre-wrap;text-align:left;background-color:white;border-top:thin solid black;border-right:thin solid black;color: black; font-size:10pt;}
.mechanicalasm_c11{white-space:pre-wrap;text-align:center;border-top:thin solid black;border-right:thin solid black;border-bottom:thin solid black;border-left:thin solid black;color: black; font-size:8pt;}
.mechanicalasm_c12{white-space:pre-wrap;text-align:center;background-color:white;border-top:thin solid black;border-right:thin solid black;border-bottom:thin solid black;border-left:thin solid black;color: black; font-size:10pt;}
.mechanicalasm_c13{white-space:pre-wrap;text-align:left;background-color:white;border-top:thin solid black;border-bottom:thin solid black;border-left:thin solid black;color: black; font-size:8pt;}
.mechanicalasm_c14{white-space:pre-wrap;text-align:left;background-color:white;border-top:thin solid black;border-right:thin solid black;border-bottom:thin solid black;color: black; font-size:8pt;}
.mechanicalasm_c15{white-space:pre-wrap;background-color:white;border-top:thin solid black;border-bottom:thin solid black;border-left:thin solid black;color: black; font-size:8pt;}
.mechanicalasm_c16{white-space:pre-wrap;background-color:white;border-top:thin solid black;border-right:thin solid black;border-bottom:thin solid black;color: black; font-size:10pt;}
.mechanicalasm_c17{white-space:pre-wrap;text-align:left;background-color:white;border-top:thin solid black;border-right:thin solid black;border-bottom:thin solid black;color: black; font-size:10pt;}
.mechanicalasm_c18{white-space:pre-wrap;background-color:white;border-top:thin solid black;border-left:thin solid black;color: black; font-size:8pt;}
.mechanicalasm_c19{white-space:pre-wrap;background-color:white;border-top:thin solid black;border-right:thin solid black;color: black; font-size:10pt;}
.mechanicalasm_t1 td{
   width:120px;
}
.mechanicalasm_t1 input{
   -webkit-margin-before: 0px;
   -webkit-padding-before: 0px;
   border:0px !important;
   height:25px;
   width:100%;
}
</style></head>
   <body class="mechanicalasm_b1">
     <div style="margin-left:10px;"><div style="display:inline">新model(尚无精确参数的)，选用外形接近的model做粗略计算 </div></div>
     <div style="margin-left:10px;margin-bottom:10px">注意：仅通过外形等比例缩放法估算，在顶盖结构差异比较大时精度会降低，需留意！</div> 
            <table class="mechanicalasm_t1">
         <colgroup>
            <col width="56">
            <col width="56">
            <col width="94">
            <col width="102">
            <col width="102">
            <col width="102">
            <col width="102">
            <col width="102">
            <col width="102">
         </colgroup>
         <tbody>
            <tr class="mechanicalasm_r1">
               <td class="mechanicalasm_c1" colspan="3">Model</td>
               <td id="mechanicalasm_E5" class="mechanicalasm_c4" colspan="3"></td>
               <td id="mechanicalasm_H5" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r2">
               <td class="mechanicalasm_c2" colspan="3">设计工程师</td>
               <td id="mechanicalasm_E6" class="mechanicalasm_c4" colspan="3"></td>
               <td id="mechanicalasm_H6" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c3" colspan="3">电芯厚度(不含蓝膜)</td>
               <td id="mechanicalasm_E7" class="mechanicalasm_c4" colspan="3"></td>
               <td id="mechanicalasm_H7" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c3" colspan="3">电芯宽度(不含蓝膜)</td>
               <td id="mechanicalasm_E8" class="mechanicalasm_c4" colspan="3"></td>
               <td id="mechanicalasm_H8" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c3" colspan="3">电芯肩高(不含顶底贴片及蓝膜)</td>
               <td id="mechanicalasm_E9" class="mechanicalasm_c4" colspan="3"></td>
               <td id="mechanicalasm_H9" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c3" colspan="3">壳体大面壁厚</td>
               <td id="mechanicalasm_E10" class="mechanicalasm_c4" colspan="3"></td>
               <td id="mechanicalasm_H10" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c3" colspan="3">壳体侧面壁厚</td>
               <td id="mechanicalasm_E11" class="mechanicalasm_c4" colspan="3"></td>
               <td id="mechanicalasm_H11" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c3" colspan="3">壳体底厚</td>
               <td id="mechanicalasm_E12" class="mechanicalasm_c4" colspan="3"></td>
               <td id="mechanicalasm_H12" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c3" colspan="3">顶盖板厚</td>
               <td id="mechanicalasm_E13" class="mechanicalasm_c4" colspan="3"></td>
               <td id="mechanicalasm_H13" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c3" colspan="3">支架(下塑胶)高</td>
               <td id="mechanicalasm_E14" class="mechanicalasm_c4" colspan="3"></td>
               <td id="mechanicalasm_H14" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c3" colspan="3">底托板厚</td>
               <td id="mechanicalasm_E15" class="mechanicalasm_c4" colspan="3"></td>
               <td id="mechanicalasm_H15" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c5" colspan="3">Mylar厚</td>
               <td id="mechanicalasm_E16" class="mechanicalasm_c4" colspan="3"></td>
               <td id="mechanicalasm_H16" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c3" colspan="3">蓝膜厚度</td>
               <td id="mechanicalasm_E17" class="mechanicalasm_c4" colspan="3"></td>
               <td id="mechanicalasm_H17" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c6" colspan="3">&nbsp;</td>
               <td class="mechanicalasm_c4" colspan="3">&nbsp;</td>
               <td class="mechanicalasm_c4" colspan="3">&nbsp;</td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c7" colspan="3">顶盖下塑胶外宽</td>
               <td id="mechanicalasm_E19" class="mechanicalasm_c8" colspan="3"></td>
               <td id="mechanicalasm_H19" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c5" colspan="3">顶盖下塑胶内宽</td>
               <td id="mechanicalasm_E20" class="mechanicalasm_c8" colspan="3"></td>
               <td id="mechanicalasm_H20" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c5" colspan="3">极柱下表面宽度</td>
               <td id="mechanicalasm_E21" class="mechanicalasm_c8" colspan="3"></td>
               <td id="mechanicalasm_H21" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c5" colspan="3">极柱下表面长度</td>
               <td id="mechanicalasm_E22" class="mechanicalasm_c8" colspan="3"></td>
               <td id="mechanicalasm_H22" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c5" colspan="3">极柱中心距</td>
               <td id="mechanicalasm_E23" class="mechanicalasm_c8" colspan="3"></td>
               <td id="mechanicalasm_H23" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c5" colspan="3">正极下塑胶内伸</td>
               <td id="mechanicalasm_E24" class="mechanicalasm_c8" colspan="3"></td>
               <td id="mechanicalasm_H24" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c5" colspan="3">负极下塑胶内伸</td>
               <td id="mechanicalasm_E25" class="mechanicalasm_c8" colspan="3"></td>
               <td id="mechanicalasm_H25" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c5" colspan="3">软连接上宽L1</td>
               <td id="mechanicalasm_E26" class="mechanicalasm_c8" colspan="3"></td>
               <td id="mechanicalasm_H26" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c5" colspan="3">软连接下宽L2</td>
               <td id="mechanicalasm_E27" class="mechanicalasm_c8" colspan="3"></td>
               <td id="mechanicalasm_H27" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c5">软连接L3</td>
               <td class="mechanicalasm_c9">&nbsp;</td>
               <td class="mechanicalasm_c10">&nbsp;</td>
               <td id="mechanicalasm_E28" class="mechanicalasm_c8" colspan="3"></td>
               <td id="mechanicalasm_H28" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c5" colspan="3">防爆片宽度(顶盖宽度方向尺寸)</td>
               <td id="mechanicalasm_E29" class="mechanicalasm_c8" colspan="3"></td>
               <td id="mechanicalasm_H29" class="mechanicalasm_c4" colspan="3"></td>
            </tr>
            <tr class="mechanicalasm_r2">
               <td class="mechanicalasm_c6" colspan="3">&nbsp;</td>
               <td id="mechanicalasm_E30" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_F30" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_G30" class="mechanicalasm_c11"></td>
               <td  class="mechanicalasm_c11" style="background-color: rgb(204, 255, 255);"><input type="text"  name="H30" style="background-color: rgb(204, 255, 255);" value="PN码"></td>
               <td  class="mechanicalasm_c11" style="background-color: rgb(204, 255, 255);"><input type="text"  name="I30" style="background-color: rgb(204, 255, 255);" value="重量/g"></td>
               <td  class="mechanicalasm_c11" style="background-color: rgb(204, 255, 255);"><input type="text"  name="J30" style="background-color: rgb(204, 255, 255);" value="体积/mm3"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c12" rowspan="18">机械件   重量＆体积
               </td>
               <td class="mechanicalasm_c13" colspan="2">顶盖(体积只算顶盖片及以下的部分)</td>
               <td id="mechanicalasm_E31" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_F31" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_G31" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_H31" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_I31" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_J31" class="mechanicalasm_c11"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c13">壳体</td>
               <td class="mechanicalasm_c14">&nbsp;</td>
               <td id="mechanicalasm_E32" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_F32" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_G32" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_H32" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_I32" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_J32" class="mechanicalasm_c11"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c13">Mylar</td>
               <td class="mechanicalasm_c14">&nbsp;</td>
               <td id="mechanicalasm_E33" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_F33" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_G33" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_H33" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_I33" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_J33" class="mechanicalasm_c11"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c13">底托板</td>
               <td class="mechanicalasm_c14">&nbsp;</td>
               <td id="mechanicalasm_E34" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_F34" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_G34" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_H34" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_I34" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_J34" class="mechanicalasm_c11"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c13">顶盖贴片</td>
               <td class="mechanicalasm_c14">&nbsp;</td>
               <td id="mechanicalasm_E35" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_F35" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_G35" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_H35" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_I35" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_J35" class="mechanicalasm_c11"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c13">底部贴片</td>
               <td class="mechanicalasm_c14">&nbsp;</td>
               <td id="mechanicalasm_E36" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_F36" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_G36" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_H36" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_I36" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_J36" class="mechanicalasm_c11"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c13">顶支架A</td>
               <td class="mechanicalasm_c14">&nbsp;</td>
               <td id="mechanicalasm_E37" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_F37" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_G37" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_H37" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_I37" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_J37" class="mechanicalasm_c11"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c13">顶支架B</td>
               <td class="mechanicalasm_c14">&nbsp;</td>
               <td id="mechanicalasm_E38" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_F38" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_G38" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_H38" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_I38" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_J38" class="mechanicalasm_c11"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c13">Al软连接</td>
               <td class="mechanicalasm_c14">&nbsp;</td>
               <td id="mechanicalasm_E39" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_F39" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_G39" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_H39" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_I39" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_J39" class="mechanicalasm_c11"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c13">Cu软连接</td>
               <td class="mechanicalasm_c14">&nbsp;</td>
               <td id="mechanicalasm_E40" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_F40" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_G40" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_H40" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_I40" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_J40" class="mechanicalasm_c11"></td>
            </tr>
            <tr class="mechanicalasm_r3">
               <td class="mechanicalasm_c13">蓝膜</td>
               <td class="mechanicalasm_c14">&nbsp;</td>
               <td id="mechanicalasm_E41" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_F41" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_G41" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_H41" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_I41" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_J41" class="mechanicalasm_c11"></td>
            </tr>
            <tr class="mechanicalasm_r2">
               <td class="mechanicalasm_c15">密封铝钉</td>
               <td class="mechanicalasm_c16">&nbsp;</td>
               <td id="mechanicalasm_E42" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_F42" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_G42" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_H42" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_I42" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_J42" class="mechanicalasm_c11"></td>
            </tr>
            <tr class="mechanicalasm_r2">
               <td class="mechanicalasm_c13">塑胶钉</td>
               <td class="mechanicalasm_c17">&nbsp;</td>
               <td id="mechanicalasm_E43" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_F43" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_G43" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_H43" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_I43" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_J43" class="mechanicalasm_c11"></td>
            </tr>
            <tr class="mechanicalasm_r2">
               <td class="mechanicalasm_c15">极耳贴胶-79148-001</td>
               <td class="mechanicalasm_c16">&nbsp;</td>
               <td id="mechanicalasm_E44" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_F44" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_G44" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_H44" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_I44" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_J44" class="mechanicalasm_c11"></td>
            </tr>
            <tr class="mechanicalasm_r2">
               <td class="mechanicalasm_c18">AL焊接压片</td>
               <td class="mechanicalasm_c19">&nbsp;</td>
               <td id="mechanicalasm_E45" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_F45" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_G45" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_H45" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_I45" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_J45" class="mechanicalasm_c11"></td>
            </tr>
            <tr class="mechanicalasm_r2">
               <td class="mechanicalasm_c18">Cu焊接压片</td>
               <td class="mechanicalasm_c19">&nbsp;</td>
               <td id="mechanicalasm_E46" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_F46" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_G46" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_H46" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_I46" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_J46" class="mechanicalasm_c11"></td>
            </tr>
            <tr class="mechanicalasm_r2">
               <td class="mechanicalasm_c18" colspan="2">24163-绝缘托板（PP 板)</td>
               <td id="mechanicalasm_E47" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_F47" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_G47" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_H47" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_I47" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_J47" class="mechanicalasm_c11"></td>
            </tr>
            <tr class="mechanicalasm_r2">
               <td class="mechanicalasm_c3" colspan="2">Total</td>
               <td id="mechanicalasm_E48" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_F48" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_G48" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_H48" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_I48" class="mechanicalasm_c11"></td>
               <td id="mechanicalasm_J48" class="mechanicalasm_c11"></td>
            </tr>
         </tbody>
      </table>
   </body>
</html>
